{
  "presets": [
    [
      "env",
      {
        "useBuiltIns": true,
        "targets": {
          "node": "6.9"
        }
      }
    ],
    "stage-0"
  ],
  "sourceMaps": "inline",
  "env": {
    "production": {
      "sourceMaps": false
    }
  }
}
